<div class="content">
	<h1>The Theft of the Spirit Left Behind The Scene</h1>
	<h2>The Blade of the Twilight</h2>
	<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks. boxing is about respect. getting it for yourself, and taking it away from the other guy. no, this is mount everest. you should flip on the discovery channel from time to time.</p>
	<p>but i guess you can't now, being dead and all. i now issue a new commandment: thou shalt do the dance. multiply your anger by about a hundred, kate, that's how much he thinks he loves you. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. cities fall but they are rebuilt.</p>
	<p>heroes die but they are remembered. cities fall but they are rebuilt. heroes die but they are remembered. rehabilitated? well, now let me see. you know, i don't have any idea what that means. bruce... i'm god. i once heard a wise man say there are no perfect men. only perfect intentions.</p>
	<h2>The Snow of the Predator</h2>
	<p>but i guess you can't now, being dead and all. i now issue a new commandment: thou shalt do the dance. multiply your anger by about a hundred, kate, that's how much he thinks he loves you. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. cities fall but they are rebuilt.</p>
	<p>heroes die but they are remembered. cities fall but they are rebuilt. heroes die but they are remembered. rehabilitated? well, now let me see. you know, i don't have any idea what that means. bruce... i'm god. i once heard a wise man say there are no perfect men. only perfect intentions.</p>
</div>



