<div class="team">
	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

		<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>

	<div>
		<img alt="">
		<h2>Lloyd Howel</h2>
		<p>Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i did the same thing to gandhi, he didn't eat for three weeks.</p>
	</div>
</div>



