/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4;


// Colors
// ==========================================================================

$color-default-light:       #fff;
$color-default-dark:        #333;
$color-default-darker:      #000;

$color-main:                #dddddd;
$color-main-light:          lighten($color-main , 20);
$color-main-lighter:        lighten($color-main , 40);
$color-main-darker:        darken($color-main , 5);

$color-secondary:           #2596DA;

$color-alt:                 #f1ede4;
$color-alt-dark:            #c2c0bc;
$color-alt-light:           #f8f5ec;

$color-alt2:                #637c84;

$color-white:               #fff;
$color-text:                #333;
$color-text--light:         lighten($color-text , 20);
$color-text--dark:          darken($color-text , 20);
$color-text--link:          $color-text;
$color-text--link--hover:   darken($color-text--link, 20);


// Font usage for normal, display, script, and monospace stacks
$font-slab       : "Roboto Slab" , "Helvetica Neue", Helvetica, serif, sans-serif;
$font-sans       : "Helvetica Neue", Helvetica, serif, sans-serif;
$font-serif      : serif, sans-serif;



// Type Settings
// ==========================================================================



// Units for consistent spacing, vertical rhythm, and a typographic baseline
$unit            : 7;
$unit--gutter    : $unit * 4;
$unit--baseline  : $unit * 4;

//base font
$bf: 16;

//Typography
$unit-p         : 18;
$unit-p--medium : 22;
$unit-p--large  : 24;
$unit-p--small  : 15;
$unit-h1: 38;
$unit-h2: 30;
$unit-h3: 24;
$unit-h4: $unit-p;
$unit-h5: $unit-p;
$unit-h6: $unit-p;


@font-face {
    font-family: 'helvetica-neue-thin';
    src: url('../fonts/helvetica/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: $color-text--link;
    text-decoration: none;
}

h1 {
    font-family: $font-sans;
    font-weight: 300;
    font-size: 42px;
    line-height: 122%;
    color: $color-text;
    margin: 0px 0px 20px 0px;
}

h2 {
    font-size: 24px;
    line-height: 134%;
    font-family: $font-sans;
    color: $color-text;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: $color-text;
    margin: 20px 0px 30px 0px;
}

h4 {
    font-weight: 300;
    font-size: 52px;
    line-height: 140%;
    margin: 0px;
    color: $color-main;
}

h5 {
    font-family: $font-sans;
    font-weight: 300;
    font-size: 26px;
    line-height: 140%;
    margin: 2px 0px 0px 0px;
    color: $color-text;
}

p {
    font-weight: 300;
    font-size: 18px;
    color: $color-text;
    margin: 0px 0px 15px 0px;
}

cite {
    border: none;
}




