@font-face {
    font-family: 'helvetica-neue-thin';
    src: url('../fonts/helvetica/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: $color-text--link;
    text-decoration: none;
}

.h1 {
    font-family: $font-sans;
    font-weight: 400;
    font-size: 42px;
    line-height: 122%;
    color: $color-text;
    margin: 0px 0px 20px 0px;
}

.h2 {
    font-size: 24px;
    line-height: 134%;
    font-family: $font-sans;
    color: $color-text;
}

.h3 {
    font-weight: 400;
    font-size: 22px;
    color: $color-text;
    margin: 20px 0px 30px 0px;
}

.h4 {
    font-weight: 400;
    font-size: 52px;
    line-height: 140%;
    margin: 0px;
    color: $color-main;
}

.h5 {
    font-family: $font-sans;
    font-weight: 300;
    font-size: 26px;
    line-height: 140%;
    margin: 2px 0px 0px 0px;
    color: $color-text;
}

.p {
    font-weight: 300;
    font-size: 18px;
    color: $color-text;
    margin: 0px 0px 15px 0px;
}

// @include respond-max($breakpoint--palm - 1)
// {
//     .h1 {
//         @include font-size($unit--h2, $unit * 6);
//         margin-top: em($unit--baseline * 1.5, $unit--h2);
//         margin-bottom: em($unit * 3, $unit--h2);
//     }

//     .h2 {
//         @include font-size($unit--h3);
//         margin-top: em($unit--baseline * 1.5, $unit--h3);
//         margin-bottom: em($unit * 2, $unit--h3);
//     }

//     .p--large {
//         @include font-size($unit--p);
//         margin-bottom: em($unit--baseline/2, $unit--p);

//         &:last-child { margin-bottom: 0; }
//     }
// }

cite {
    border: none;
}

@mixin prose-content {

    a { @extend a; }

    h1 { @extend .h1; }
    h2 { @extend .h2; }
    h3 { @extend .h3; }
    h4 { @extend .h4; }
    h5 { @extend .h5; }
    p { @extend .p; }
    // ul, ol { @extend .ul; }
    // ol { @extend .ol; }
}

@include prose-content;


