
<!-- header -->
<header>

  <div class="logo"></div>

  <div class="responsive-check">1 2 3</div>

  <div class="actions">
    <button class="btn outline">Publish</button>
    <div class="menu">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
      </ul>
    </div>

  </div>

</header>
<!-- # header -->




<!-- Editor -->
<div class="canvas">
{{> hero}}
{{> content}}
{{> team}}
</div>
<!-- # Editor -->




<!-- Page View -->
<div class="page-view">
  <nav>
      <ul>

          <li><a class="dropdown" href="#">Homepage</a>
              <ul>
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
              </ul>
              </li>
      </ul>
  </nav>
</div>
<!-- #Page View -->




<!-- Add Button -->
<div class="add-button">

  <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a href="#" class="mfb-component__button--main">
      <i class="mfb-component__main-icon--resting ion-plus-round"></i>
      <i class="mfb-component__main-icon--active ion-close-round"></i>
    </a>
    <ul class="mfb-component__list">
      <li>
        <a href="" data-mfb-label="View on Github" class="mfb-component__button--child">
          <i class="mfb-component__child-icon ion-social-github"></i>
        </a>
      </li>
      <li>
        <a href="" data-mfb-label="Follow me on Github" class="mfb-component__button--child">
          <i class="mfb-component__child-icon ion-social-octocat"></i>
        </a>
      </li>

      <li>
        <a href=""
           data-mfb-label="Share on Twitter" class="mfb-component__button--child">
          <i class="mfb-component__child-icon ion-social-twitter"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>

</div>
<!-- # Add Button -->

